In [1]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv("E:\Project\Reviews Sentiment Analysis\RestaurantReviewsFreshDump.tsv", sep ='\t',quoting = 3)
df.head(5)

                                              Review
0                        Spend your money elsewhere.
1  Their regular toasted bread was equally satisf...
2  The Buffet at Bellagio was far from what I ant...
3                   And the drinks are WEAK, people!
4                         -My order was not correct.

In [13]:
import re #regular expression
import nltk #natural language toolkit
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()
all_stopwords = stopwords.words('english')
all_stopwords.remove('not')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Tejas\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [14]:
corpus = []

for i in range(0, 100):
    review = re.sub('[^a-zA-Z]',' ',df['Review'][i])
    review = review.lower()
    review = review.split()
    review = [ps.stem(word) for word in review if not word in set(all_stopwords)]
    review = ' '.join(review)
    corpus.append(review)

In [15]:
from sklearn.feature_extraction.text import CountVectorizer
import pickle
file= "E:\Project\Reviews Sentiment Analysis\Bag of words.pkl"
cv = pickle.load(open(file,"rb"))

In [16]:
x_fresh = cv.transform(corpus).toarray()
x_fresh.shape

(100, 1420)

In [17]:
import joblib
classifire = joblib.load("E:\Project\Reviews Sentiment Analysis\sentiment model")

In [18]:
y_pred = classifire.predict(x_fresh)
print (y_pred)

[0 1 1 0 0 1 0 0 0 1 1 0 0 1 0 1 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 1 0 0 0 0 0 1 0 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 1 1 0
 0 1 0 0 0 0 1 0 0 1 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0]

In [20]:
df['label'] = y_pred.tolist()
df.head(5)

                                              Review  label
0                        Spend your money elsewhere.      0
1  Their regular toasted bread was equally satisf...      1
2  The Buffet at Bellagio was far from what I ant...      1
3                   And the drinks are WEAK, people!      0
4                         -My order was not correct.      0

In [22]:
df.to_csv("E:\Project\Reviews Sentiment Analysis\sentiment.csv",index=False)